.validate_validation_message{
    font-weight:bold;
    margin:0 0 0 5px;
    font-size: 12px;
}

.validate_invalid {
    color:#CC0000;
}

.validate_invalid_field {
    /*border: 1px solid #CC0000 !important;*/
    border-color: #CC0000 !important;
}