/**全局颜色**/
/*文字*/
/*图标*/
/*背景*/
/*边框*/
/**borderlayout**/
/**button**/
/*默认按钮*/
/*红色按钮*/
/*蓝色按钮*/
/*绿色按钮*/
/*橙色按钮*/
/*禁用状态按钮*/
/**calender**/
/*主体颜色*/
/*顶部面板*/
/*星期条*/
/*日期面板*/
/*时间面板*/
/*按钮条*/
/**clickInput**/
/**dialog**/
/**grid and editableGrid**/
/*表头*/
/*表体*/
/*隐藏列面板*/
/*editable特有*/
/**listbox**/
/**msgBox**/
/**Pagination**/
/**panel**/
/**tab**/
/**tree**/
/**tip**/
/*组件的高度*/
/**圆角全局有效**/
/*组件的圆角*/
/*msgbox,dialog,grid*/
/*渐变*/
/*配合上面的函数使用，禁用IE的渐变*/
/*组件发光效果的动画*/
.textarea_textarea_wrap {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
}
.cui_textarea_box {
  background: #ffffff;
  -moz-transition: border 0.3s linear 0s;
  -webkit-transition: border 0.3s linear 0s;
  -o-transition: border 0.3s linear 0s;
  transition: border 0.3s linear 0s;
  border: 1px solid #cccccc;
  border-radius: 0;
  padding: 4px 5px;
  /*display: inline-block;
    *display: inline;
    *zoom: 1;*/
  vertical-align: top;
  font-size: 0;
  line-height: normal;
}
.cui_textarea_box .textarea_textarea {
  font-size: 12px;
  width: 100%;
  color: #333333;
  border: none!important;
  padding: 0!important;
  margin: 0!important;
  margin-top: -17px !important;
  vertical-align: top!important;
  outline: none;
  overflow: auto;
  resize: none;
  background: transparent!important;
  background: url(about:blank) no-repeat -9999cm -9999cm \0!important;
  position: relative;
  position: static\0;
  box-shadow: none!important;
}
:root .textarea_textarea {
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
  background-image: none;
}
.textarea_garybg .cui_textarea_box {
  background: #f5f5f5 !important;
}
.textarea_garybg .textarea_textarea {
  color: #888888 !important;
}
.textarea_tipcolor {
  color: #aaaaaa;
}
.textarea_textareafocus {
  border: 1px solid #4585e5;
}
.textarea_invalid {
  border: 1px solid #cc4b3d;
}
.cui_textarea_empty {
  height: 17px;
  line-height: 17px;
  color: #aaaaaa;
  font-size: 12px;
  overflow: hidden;
}
