/**全局颜色**/
/*文字*/
/*图标*/
/*背景*/
/*边框*/
/**borderlayout**/
/**button**/
/*默认按钮*/
/*红色按钮*/
/*蓝色按钮*/
/*绿色按钮*/
/*橙色按钮*/
/*禁用状态按钮*/
/**calender**/
/*主体颜色*/
/*顶部面板*/
/*星期条*/
/*日期面板*/
/*时间面板*/
/*按钮条*/
/**clickInput**/
/**dialog**/
/**grid and editableGrid**/
/*表头*/
/*表体*/
/*隐藏列面板*/
/*editable特有*/
/**listbox**/
/**msgBox**/
/**Pagination**/
/**panel**/
/**tab**/
/**tree**/
/**tip**/
.multinav {
  padding: 0;
  margin: 0;
  line-height: 28px;
}
.multinav a {
  position: relative;
}
.multinav a span {
  position: absolute;
  right: 10px;
}
.multinav ul {
  margin-left: 0;
  padding: 0;
}
.multinav li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.multinav li a {
  display: block;
  text-decoration: none;
  outline: none;
  padding: 0 12px;
  color: #333333;
  zoom: 1;
  background: #F5F5F5;
  border-bottom: 1px solid #ddd;
}
.multinav li a:hover {
  background: #eeeeee;
}
.multinav li ul {
  overflow: hidden;
  display: none;
}
.multinav li ul.multinav-ul-unfold {
  display: block;
}
.multinav li ul.multinav-ul-unfold a {
  padding-left: 20px;
  background: #fff;
}
.multinav li a.multinav-checked {
  background: #3CB74F!important;
  color: #ffffff;
}
.multinav-unfold-icon,
.multinav-fold-icon {
  padding-right: 3px;
}
.multinav-unfold-icon {
  display: none;
}
.multinav-unfold .multinav-unfold-icon {
  display: inline;
}
.multinav-unfold .multinav-fold-icon {
  display: none;
}
