/**全局颜色**/
/*文字*/
/*图标*/
/*背景*/
/*边框*/
/**borderlayout**/
/**button**/
/*默认按钮*/
/*红色按钮*/
/*蓝色按钮*/
/*绿色按钮*/
/*橙色按钮*/
/*禁用状态按钮*/
/**calender**/
/*主体颜色*/
/*顶部面板*/
/*星期条*/
/*日期面板*/
/*时间面板*/
/*按钮条*/
/**clickInput**/
/**dialog**/
/**grid and editableGrid**/
/*表头*/
/*表体*/
/*隐藏列面板*/
/*editable特有*/
/**listbox**/
/**msgBox**/
/**Pagination**/
/**panel**/
/**tab**/
/**tree**/
/**tip**/
/*组件的高度*/
/**圆角全局有效**/
/*组件的圆角*/
/*msgbox,dialog,grid*/
/*渐变*/
/*配合上面的函数使用，禁用IE的渐变*/
/*组件发光效果的动画*/
.bl_main {
  zoom: 1;
  overflow: hidden;
}
.bl_main .bl_inner {
  zoom: 1;
  overflow: hidden;
}
.bl_main iframe {
  height: 100%;
  width: 100%;
  display: block;
}
.bl_main .bl_header {
  background: #f2f2f2;
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #ffffff, #f2f2f2);
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, top, from(#ffffff), to(#f2f2f2));
  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #ffffff, #f2f2f2);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ffffff, endColorstr=#f2f2f2);
  /*IE<9>*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#ffffff, endColorstr=#f2f2f2)";
  /*IE8+*/
  background-image: -ms-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
  white-space: nowrap;
  border-bottom: 1px solid #e5e5e5;
}
.bl_main .bl_top,
.bl_main .bl_left,
.bl_main .bl_center,
.bl_main .bl_right,
.bl_main .bl_bottom {
  position: relative;
  background: #e5e5e5;
}
.bl_main .bl_middle {
  overflow: hidden;
  zoom: 1;
  clear: both;
}
.bl_main .bl_box_top,
.bl_main .bl_box_right,
.bl_main .bl_box_bottom,
.bl_main .bl_box_left,
.bl_main .bl_box_center {
  overflow: auto;
  float: left;
  width: 100%;
  background: #ffffff;
}
.bl_main .bl_left,
.bl_main .bl_top {
  *z-index: 1;
}
.bl_main .bl_left,
.bl_main .bl_center {
  float: left;
  height: 100%;
}
.bl_main .bl_right {
  float: left;
  height: 100%;
}
.bl_main .bl_top,
.bl_main .bl_bottom {
  width: 100%;
  zoom: 1;
  float: left;
}
.bl_main .bl_move,
.bl_main .bl_border {
  position: absolute;
  height: 0;
  width: 0;
  z-index: 2;
  font-size: 0;
  line-height: 0;
}
.bl_top .bl_move,
.bl_top .bl_border {
  width: 100%;
  bottom: 0;
  left: 0;
  cursor: row-resize;
}
.bl_left .bl_move,
.bl_left .bl_border {
  height: 100%;
  right: 0;
  top: 0;
  cursor: col-resize;
}
.bl_right .bl_move,
.bl_right .bl_border {
  height: 100%;
  left: 0;
  top: 0;
  right: auto;
  cursor: col-resize;
}
.bl_bottom .bl_move,
.bl_bottom .bl_border {
  width: 100%;
  left: 0;
  top: 0;
  cursor: row-resize;
}
.bl_main div.bl_border {
  cursor: default;
}
.bl_fold {
  width: 12px;
  height: 12px;
  position: absolute;
  cursor: pointer;
  z-index: 3;
  opacity: .8;
  filter: alpha(opacity=80);
  text-decoration: none;
  background: #e5e5e5;
  color: #666666;
  text-align: center;
}
.bl_fold:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  color: #4585e5;
}
.bl_top .bl_move .cui-icon,
.bl_top .bl_border .cui-icon {
  width: 36px;
  margin-left: -18px;
  left: 50%;
  bottom: -12px;
  line-height: 12px;
  border-radius: 0 0 0 0;
}
.bl_left .bl_move .cui-icon,
.bl_left .bl_border .cui-icon {
  height: 36px;
  margin-top: -18px;
  top: 50%;
  right: -12px;
  line-height: 36px;
  border-radius: 0 0 0 0;
}
.bl_bottom .bl_move .cui-icon,
.bl_bottom .bl_border .cui-icon {
  width: 36px;
  margin-left: -18px;
  left: 50%;
  top: -12px;
  line-height: 12px;
  border-radius: 0 0 0 0;
}
.bl_right .bl_move .cui-icon,
.bl_right .bl_border .cui-icon {
  height: 36px;
  margin-top: -18px;
  top: 50%;
  left: -12px;
  right: auto;
  line-height: 36px;
  border-radius: 0 0 0 0;
}
.bl_main .bl_move .bl_overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 4;
  background: #fff;
  opacity: 0;
  filter: alpha(opacity=0);
  display: none;
}
